<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de usuario</title>
</head>
<body>
    <h1>Registro de nuevo usuario</h1>

    <nav style="margin-bottom:20px;">
        <a href="/ventas/">Productos</a> |
        <a href="/ventas/carrito/">Carrito</a> |
        <a href="/ventas/grafica/">Gráfica ventas</a> |
        <a href="/admin/">Admin</a>
    </nav>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Registrarse</button>
    </form>
</body>
</html>